In [140]:
import pandas as pd
import os
import requests
from bs4 import BeautifulSoup
import numpy as np

In [141]:
#Create folder to save all the files for scalibility and reproducibility
folder_name = 'continents'

In [142]:
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [143]:
urls = ['https://www.whatarethe7continents.com/asia-continent/how-many-countries-in-asia/',
        'https://www.whatarethe7continents.com/europe/many-countries-europe/',
        'https://www.whatarethe7continents.com/africa-continent/how-many-countries-in-africa/',
        'https://www.whatarethe7continents.com/australia/many-countries-australia/']

In [144]:
url = 'https://www.whatarethe7continents.com/asia-continent/how-many-countries-in-australia/'
url.split('/')[-2].split('-')[-1]

'australia'

In [145]:
# get webpage by querying requests library and write a content to a file.
for url in urls:
    response = requests.get(url)
    with open(os.path.join(folder_name,url.split('/')[-2].split('-')[-1]), mode = 'wb') as file:
        file.write(response.content)

## Let's try out on single file

In [146]:
# write content to a file
with open(os.path.join(folder_name,url.split('/')[-2].split('-')[-1]), mode = 'wb') as file:
        file.write(response.content)

In [147]:
# create soup
with open(os.path.join(folder_name,url.split('/')[-2].split('-')[-1])) as file:
        soup = BeautifulSoup(file, 'lxml')

In [176]:
# Etract countries
countries = soup.find_all('td')[::3]
print(countries)

[<td>Australia</td>, <td>New Zealand</td>, <td>Papua New Guinea</td>, <td><strong>Total</strong></td>]

In [149]:
# get only text
for country in countries[:-1]:
    print(country.text)

Australia
New Zealand
Papua New Guinea

In [150]:
# function creates a soup and extracts all the countries from it and then returns it to the list.
def extract_country(folder_name,continent):
    with open(os.path.join(folder_name,continent)) as file:
        soup = BeautifulSoup(file, 'lxml')
        countries = soup.find_all('td')[::3]        
        countries_new = []
        for country in countries[:-1]:
            countries_new.append(country.text)
        return countries_new

In [151]:
countries_in_asia = extract_country(folder_name,'asia')
countries_in_europe = extract_country(folder_name,'europe')
countries_in_africa = extract_country(folder_name,'africa')
countries_in_australia = extract_country(folder_name,'australia')

In [152]:
# Create series 
asia = pd.Series(countries_in_asia ,name = 'asia')
africa = pd.Series(countries_in_africa ,name = 'africa')
europe = pd.Series(countries_in_europe ,name = 'europe')
australia = pd.Series(countries_in_australia ,name = 'australia')

In [153]:
print('Number of Countries in Africa', len(africa))
print('Number of Countries in Asia', len(asia))
print('Number of Countries in Europe', len(europe))
print('Number of Countries in Australia', len(australia))

Number of Countries in Africa 54
Number of Countries in Asia 52
Number of Countries in Europe 50
Number of Countries in Australia 3

In [175]:
# Create dataframe of countries in continents
countries_df = pd.concat([asia,europe,africa,australia],axis= 1)
print("Number of Observations in countries_df", countries_df.shape)

countries_df.head(20)

Number of Observations in countries_df (54, 4)

,asia,europe,africa,australia
0,China,Albania,Â Algeria,Australia
1,India,Andorra,Â Angola,New Zealand
2,Indonesia,Armenia,Â Benin,Papua New Guinea
3,Pakistan,Austria,Â Botswana,NaN
4,Bangladesh,Azerbaijan,Â Burkina Faso,NaN
5,Russia,Belarus,Â Burundi,NaN
6,Japan,Belgium,Â Cameroon,NaN
7,Philippines,Bosnia and Herzegovina,Â Cape Verde,NaN
8,Vietnam,Bulgaria,Â Central African Republic,NaN
9,Turkey,Croatia,Â Chad,NaN
10,Iran,CyprusÂ,Â Comoros,NaN
11,Thailand,Czech Republic,Â Democratic Republic of the Congo,NaN
12,Myanmar,Denmark,Â Djibouti,NaN
13,South Korea,Estonia,Â Egypt,NaN
14,Iraq,Finland,Â Equatorial Guinea,NaN
15,Saudi Arabia,FranceÂ,Â Eritrea,NaN
16,Malaysia,Georgia,Â Ethiopia,NaN
17,Afghanistan,Germany,Â Gabon,NaN
18,Nepal,Greece,Â Gambia,NaN
19,Uzbekistan,Hungary,Â Ghana,NaN